[submodule "themes/omega"]
	path = themes/omega
	url = https://github.com/gethugothemes/omega-hugo.git
[submodule "themes/Meghna"]
	path = themes/Meghna
	url = https://github.com/themefisher/meghna-hugo.git
